@import "./include.scss";
@import "./reset.css";

@import "./mobile/globals.scss";
@import "./mobile/components.scss";
@import "./mobile/profile.scss";
@import "./mobile/newsfeed.scss";

@import "./pc/globals.scss";
@import "./pc/components.scss";
@import "./pc/profile.scss";
@import "./pc/newsfeed.scss";

#root {
    display: flex;
    flex-direction: column;

    > main {
        flex: 1;
    }
}
