@import "./include.scss";
@import "./reset.css";

@import "./mobile/globals.scss";
@import "./mobile/components.scss";
@import "./mobile/notice.scss";
@import "./mobile/profile.scss";
@import "./mobile/newsfeed.scss";
@import "./mobile/modals.scss";
@import "./mobile/auth.scss";

@import "./pc/globals.scss";
@import "./pc/components.scss";
@import "./pc/notice.scss";
@import "./pc/profile.scss";
@import "./pc/newsfeed.scss";
@import "./pc/modals.scss";
@import "./pc/auth.scss";

#root {
    display: flex;
    flex-direction: column;

    > .sub-layout {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        animation-name: appear-in;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;

        > header {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        > main {
            flex: 1;
        }

        @keyframes appear-in {
            from {
                transform: translateY(8%);
            }

            to {
                transform: translateY(0);
            }
        }
    }

    > main {
        flex: 1;
    }
}
