$primary_color: #0058a2;
$secondary_color: #e1bb00;
$tertiary_color: #01ab5d;
$contrast_button_background_color: #f7f5ff;
$app_background_color: #eeeeee;
$dark_text_color: #1b1d1f;
$light_text_color: #a9a8a8;
$icon_grey: #adaeae;
$gray_900_color: #111827;
$black_color: #000000;
$white_color: #ffffff;
$x11_dark_gray_color: #aaaaaa;
$x11_gray_color: #bbbbbb;
$bright_gray_color: #eeeeee;
$gunmetal_color: #2d3436;
$chinease_silver_color: #cccccc;
$link_water_color: #d2d5da;
$auro_metal_saurus_color: #6d7280;
$black_russian_color: #111827;

$common_box_shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$header_box_shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
$profile_thumbnail_box_shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px,
    rgba(0, 0, 0, 0.38) 0px 6px 6px;

:export {
    primaryColor: $primary_color;
    secondaryColor: $secondary_color;
    tertiaryColor: $tertiary_color;
    appBackgroundColor: $app_background_color;
}
