@import "../include.scss";

.components-navigation-bottom-navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    > button.common-button {
        font-size: 16px;
        position: absolute;
        width: 100px;
        height: 52px;
        bottom: 40px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    > ul.bottom-navigation-tabs {
        display: flex;
        height: 60px;
        position: absolute;
        align-self: center;
        bottom: 16px;
        border-radius: 10px;
        background-color: white;
        box-shadow: $common_box_shadow;

        > li {
            flex: 1;
            z-index: 3;

            > .container {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 60px;

                > svg {
                    transition: all 0.3s;
                    position: relative;

                    > path {
                        transition: stroke 0.3s;
                    }
                }
            }

            &.active {
                > .container {
                    > svg {
                        transform: translateY(-25px) scale(1.2);

                        > path {
                            stroke: white;
                        }
                    }
                }
            }
        }

        li:nth-child(1).active ~ .indicator {
            // transform: translateX(20% * 0);
            left: calc(20% * 0 + 10% - 30px);
        }

        li:nth-child(2).active ~ .indicator {
            // transform: translateX(100% * 1);
            left: calc(20% * 1 + 10% - 30px);
        }

        li:nth-child(3).active ~ .indicator {
            // transform: translateX(100% * 2);
            left: calc(20% * 2 + 10% - 30px);
        }

        li:nth-child(4).active ~ .indicator {
            // transform: translateX(100% * 3);
            left: calc(20% * 3 + 10% - 30px);
        }

        li:nth-child(5).active ~ .indicator {
            // transform: translateX(100% * 4);
            left: calc(20% * 4 + 10% - 30px);
        }

        .indicator {
            position: absolute;
            width: 60px;
            height: 60px;
            background-color: $primary_color;
            transition: left 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            bottom: 25px;
            border: 4px solid white;
            box-sizing: border-box;
            box-shadow: rgba(60, 64, 67, 0.3) 0px -1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px -1px 3px -1px;
        }
    }
}
