@import "../include.scss";

.components-navigation-bottom-navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > button.common-button {
        font-size: 1rem;
        position: absolute;
        bottom: 2.5em;
    }

    > .bottom-navigation-container {
        position: absolute;
        // bottom: 1em;
        bottom: 0;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        padding: 0.125em 1.25em 0 1.25em;
        background-color: white;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        > ul.bottom-navigation-tabs {
            position: relative;
            display: flex;
            height: 3.25em;

            > li {
                flex: 1;
                z-index: 3;

                > .container {
                    position: relative;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 3.25em;

                    > svg {
                        transition: all 0.3s;
                        position: relative;

                        > path {
                            stroke: $gunmetal_color;
                            transition: stroke 0.3s;
                        }
                    }

                    > span {
                        display: none;
                        position: absolute;
                        bottom: -0.3125em;
                        opacity: 0;
                        transition: opacity 0.3s, transform 0.3s;
                        font-weight: 500;
                    }
                }

                &.active {
                    > .container {
                        > svg {
                            transform: translateY(-1.35em) scale(1.6);

                            path {
                                stroke: white;
                            }
                        }

                        > span {
                            transform: translateY(-0.625em);
                            opacity: 1;
                        }
                    }
                }
            }

            li:nth-child(1).active ~ .indicator {
                // transform: translateX(20% * 0);
                left: calc(20% * 0 + 10% - 1.75em);
            }

            li:nth-child(2).active ~ .indicator {
                // transform: translateX(100% * 1);
                left: calc(20% * 1 + 10% - 1.75em);
            }

            li:nth-child(3).active ~ .indicator {
                // transform: translateX(100% * 2);
                left: calc(20% * 2 + 10% - 1.75em);
            }

            li:nth-child(4).active ~ .indicator {
                // transform: translateX(100% * 3);
                left: calc(20% * 3 + 10% - 1.75em);
            }

            li:nth-child(5).active ~ .indicator {
                // transform: translateX(100% * 4);
                left: calc(20% * 4 + 10% - 1.75em);
            }

            .indicator {
                position: absolute;
                width: 3.5em;
                height: 3.5em;
                transition: left 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
                    background-color 0.3s;
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                bottom: 1.25em;
                // border: 0.375em solid $app_background_color;
                box-sizing: border-box;
                box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);

                // &::before {
                //     content: "";
                //     position: absolute;
                //     top: 50%;
                //     left: -1.375em;
                //     width: 1.25em;
                //     height: 1.25em;
                //     border-top-right-radius: 1.25em;
                //     box-shadow: 0em -0.375em 0 0 $app_background_color;
                // }

                // &::after {
                //     content: "";
                //     position: absolute;
                //     top: 50%;
                //     right: -1.375em;
                //     width: 1.25em;
                //     height: 1.25em;
                //     border-top-left-radius: 1.25em;
                //     box-shadow: 0em -0.375em 0 0 $app_background_color;
                // }
            }
        }
    }
}

.components-header-sub-header {
    position: sticky;
    top: 0px;

    > .container {
        display: flex;
        width: 100%;
        height: 3.75em;
        padding: 0 1.25em;
        align-items: center;
        background-color: white;
        box-shadow: $header_box_shadow;

        > .go-back-icon {
            width: 1.75em;
            height: 1.75em;
            margin-right: 1.25em;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                mask-image: url("/assets/images/icons/arrow-left.svg");
                mask-repeat: no-repeat;
                mask-position: center;
                mask-size: contain;
                background-color: $gunmetal_color;
            }
        }

        > .title {
            font-size: 1.25rem;
            font-weight: 400;
            color: $gunmetal_color;
        }
    }
}

.common-button {
    cursor: default;
    background-color: $link_water_color;
    padding: 0 1em;
    height: 3.5em;
    border-radius: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    font-size: 0.875rem;

    > .container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;

        > span {
            white-space: nowrap;
        }
    }

    > svg {
        position: absolute;
        left: 1em;
    }

    > .ripple-effect {
        position: absolute;
        left: -1.75em;
        top: -1.75em;
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        background-color: #eee;
        opacity: 0;

        &.active {
            animation-name: ripple-effect-common-animation;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;

            @keyframes ripple-effect-common-animation {
                from {
                    transform: scale(0);
                    opacity: 0.5;
                }

                to {
                    transform: scale(2);
                    opacity: 0;
                }
            }
        }
    }

    &.common {
        &.active {
            cursor: pointer;

            &.primary {
                background-color: $primary_color;
                color: white;

                @media (hover: hover) {
                    &:hover {
                        background-color: rgba($primary_color, 0.6);
                    }
                }

                &:active {
                    background-color: rgba($primary_color, 0.8);
                }
            }

            &.secondary {
                background-color: $secondary_color;
                color: white;

                @media (hover: hover) {
                    &:hover {
                        background-color: rgba($secondary_color, 0.6);
                    }
                }

                &:active {
                    background-color: rgba($secondary_color, 0.8);
                }
            }

            &.tertiary {
                background-color: $tertiary_color;
                color: white;

                @media (hover: hover) {
                    &:hover {
                        background-color: rgba($tertiary_color, 0.6);
                    }
                }

                &:active {
                    background-color: rgba($tertiary_color, 0.8);
                }
            }
        }
    }

    &.contrast {
        &.active {
            background-color: $contrast_button_background_color;

            > .ripple-effect {
                background-color: $primary_color;
            }

            &.dark_gray {
                color: $gunmetal_color;

                @media (hover: hover) {
                    &:hover {
                        color: rgba($gunmetal_color, 0.6);
                        background-color: rgba(
                            $contrast_button_background_color,
                            0.6
                        );
                    }
                }

                &:active {
                    color: rgba($gunmetal_color, 0.8);
                    background-color: rgba(
                        $contrast_button_background_color,
                        0.8
                    );
                }
            }
        }
    }

    &.text {
        cursor: default;
        color: $gunmetal_color;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.75em 1em;
        border-radius: 1rem;
        background-color: transparent;

        &.active {
            cursor: pointer;

            &.primary {
                color: $primary_color;

                @media (hover: hover) {
                    &:hover {
                        color: rgba($primary_color, 0.6);
                    }
                }

                &:active {
                    color: rgba($primary_color, 0.8);
                }
            }

            &.secondary {
                color: $secondary_color;

                @media (hover: hover) {
                    &:hover {
                        color: rgba($secondary_color, 0.6);
                    }
                }

                &:active {
                    color: rgba($secondary_color, 0.8);
                }
            }

            &.tertiary {
                color: $tertiary_color;

                @media (hover: hover) {
                    &:hover {
                        color: rgba($tertiary_color, 0.6);
                    }
                }

                &:active {
                    color: rgba($tertiary_color, 0.8);
                }
            }

            &.white {
                color: white;

                @media (hover: hover) {
                    &:hover {
                        color: rgba(white, 0.6);
                    }
                }

                &:active {
                    color: rgba(white, 0.8);
                }
            }
        }
    }
}

.list-button {
    position: relative;
    display: inline-flex;
    padding: 0 1.25em;
    width: 100%;
    height: 3.5em;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $link_water_color;
    box-sizing: border-box;
    overflow: hidden;

    > .ripple-effect {
        position: absolute;
        left: -1.75em;
        top: -1.75em;
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0;

        &.active {
            animation-name: ripple-effect-list-animation;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;

            @keyframes ripple-effect-list-animation {
                from {
                    transform: scale(0);
                    opacity: 0.5;
                }

                to {
                    transform: scale(10);
                    opacity: 0;
                }
            }
        }
    }
}

.woilonn-input {
    width: 100%;

    > .label {
        font-size: 14px;
        font-weight: 500;
        color: $auro_metal_saurus_color;
        margin-bottom: 0.5em;
    }

    > .input-container {
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 3em;
        border: 1px solid $auro_metal_saurus_color;
        border-radius: 8px;
        padding: 0 1.25em;
        box-sizing: border-box;

        > input {
            flex: 1;
            height: 100%;
            color: $auro_metal_saurus_color;
        }
    }

    > .alert {
        margin-top: 0.25em;
        padding-left: 0.375em;
        font-size: 0.75rem;
        font-weight: 500;
        color: $cancel_color;
    }

    &:focus-within {
        > .label {
            color: $gunmetal_color;
        }

        > .input-container {
            border: 1px solid $gunmetal_color;

            > input {
                color: $gunmetal_color;
            }
        }
    }
}

.woilonn-checkbox {
    position: relative;
    display: inline-flex;
    width: 2.5em;
    height: 1.5em;
    border-radius: 0.75em;
    transition: background-color 0.15s linear;

    > .checkmark {
        position: absolute;
        width: 1em;
        height: 1em;
        background-color: white;
        border-radius: 50%;
        left: calc(50% - 0.5em);
        top: calc(50% - 0.5em);
        transition: transform 0.15s linear;
    }

    &.inactive {
        background-color: $link_water_color;

        > .checkmark {
            transform: translateX(-0.5em);
        }
    }

    &.active {
        background-color: $primary_color;

        > .checkmark {
            transform: translateX(0.5em);
        }
    }
}

.message-card {
    position: relative;
    padding: 0.625em;
    background-color: white;
    border-radius: 8px;
    // box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 0.625em;
    box-sizing: border-box;
    overflow: hidden;

    @media (hover: hover) {
        &:hover {
            background-color: rgba(white, 0.6);
        }
    }

    &:active {
        // box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1);
    }

    > .profile-thumbnail {
        width: 3em;
        height: 3em;
        border-radius: 1.5em;
        overflow: hidden;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    > .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - 4.25em);
        box-sizing: border-box;

        > .nickname {
            font-size: 14px;
            font-weight: 600;
            color: $gunmetal_color;
        }

        > .message {
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            width: 90%;
            overflow: hidden;
            color: $auro_metal_saurus_color;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    > .date {
        position: absolute;
        top: 0.625em;
        right: 0.75em;
        font-size: 11px;
        font-weight: 400;
        color: rgba($auro_metal_saurus_color, 0.8);
    }

    > .ripple-effect {
        position: absolute;
        left: -1.75em;
        top: -1.75em;
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        background-color: $primary_color;
        opacity: 0;

        &.active {
            animation-name: ripple-effect-common-animation;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;

            @keyframes ripple-effect-common-animation {
                from {
                    transform: scale(0);
                    opacity: 0.5;
                }

                to {
                    transform: scale(2);
                    opacity: 0;
                }
            }
        }
    }
}

.notification-card {
    position: relative;
    padding: 0.625em;
    background-color: white;
    border-radius: 8px;
    display: flex;
    gap: 0.625em;
    box-sizing: border-box;
    overflow: hidden;

    @media (hover: hover) {
        &:hover {
            background-color: rgba(white, 0.6);
        }
    }

    &:active {
        // box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1);
    }

    > .profile-thumbnail {
        width: 3em;
        height: 3em;
        border-radius: 1.5em;
        overflow: hidden;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    > .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - 4.25em);
        box-sizing: border-box;
        position: relative;
        top: 0.25em;

        > .message {
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            width: 90%;
            overflow: hidden;
            color: $auro_metal_saurus_color;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            // white-space: nowrap;
        }
    }

    > .date {
        position: absolute;
        top: 0.4em;
        right: 0.75em;
        font-size: 11px;
        font-weight: 400;
        color: rgba($auro_metal_saurus_color, 0.8);
    }

    > .ripple-effect {
        position: absolute;
        left: -1.75em;
        top: -1.75em;
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        background-color: $primary_color;
        opacity: 0;

        &.active {
            animation-name: ripple-effect-common-animation;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;

            @keyframes ripple-effect-common-animation {
                from {
                    transform: scale(0);
                    opacity: 0.5;
                }

                to {
                    transform: scale(2);
                    opacity: 0;
                }
            }
        }
    }
}
