@import "../include.scss";

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // background-color: rgba(0, 0, 0, 0.5);

    > .modal {
        width: 100%;
        height: 100%;
        background-color: white;
        animation-duration: 0.2s;
        animation-timing-function: ease-in;

        &.display {
            animation-name: popup;
        }

        &.dismiss {
            animation-name: popdown;
            animation-fill-mode: forwards;
        }

        @keyframes popup {
            from {
                transform: translateY(100%);
            }

            to {
                transform: translateY(0);
            }
        }

        @keyframes popdown {
            from {
                transform: translateY(0);
            }

            to {
                transform: translateY(100%);
            }
        }

        > .modal-header {
            position: sticky;
            top: 0;

            > .container {
                height: 60px;
                padding: 0 20px;
                display: flex;
                align-items: center;
                width: 100%;
                box-sizing: border-box;
                box-shadow: $header_box_shadow;

                > .dismiss-icon {
                    width: 28px;
                    height: 28px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;

                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        mask-image: url("/assets/images/icons/arrow-left.svg");
                        mask-repeat: no-repeat;
                        mask-position: center;
                        mask-size: contain;
                        background-color: $gunmetal_color;
                    }
                }
            }
        }
    }
}

.modals-status-pending {
    display: flex;
    justify-content: center;
    align-items: center;
}
