@import "../include.scss";

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    > .modal {
        width: 100%;
        height: 100%;
        background-color: white;
        animation-duration: 0.15s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        --modal-height: 50%;
        display: flex;
        flex-direction: column;

        &.display {
            animation-name: popup-full;

            @keyframes popup-full {
                from {
                    transform: translateY(50%);
                    opacity: 0;
                }

                to {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }

        &.dismiss {
            animation-name: popdown-full;

            @keyframes popdown-full {
                from {
                    transform: translateY(0);
                    opacity: 1;
                }

                to {
                    transform: translateY(50%);
                    opacity: 0;
                }
            }
        }

        &.responsive {
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;

            &.display {
                animation-name: popup-responsive;

                @keyframes popup-responsive {
                    from {
                        transform: translateY(100%);
                    }

                    to {
                        transform: translateY(var(--modal-height));
                    }
                }
            }

            &.dismiss {
                animation-name: popdown-responsive;

                @keyframes popdown-responsive {
                    from {
                        transform: translateY(var(--modal-height));
                    }

                    to {
                        transform: translateY(100%);
                    }
                }
            }
        }

        > .modal-header {
            position: sticky;
            top: 0;

            > .container {
                height: 60px;
                padding: 0 20px;
                display: flex;
                align-items: center;
                width: 100%;
                box-sizing: border-box;
                box-shadow: $header_box_shadow;
                gap: 1.25em;

                > .dismiss-icon {
                    width: 28px;
                    height: 28px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;

                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        mask-image: url("/assets/images/icons/arrow-left.svg");
                        mask-repeat: no-repeat;
                        mask-position: center;
                        mask-size: contain;
                        background-color: $gunmetal_color;
                    }
                }

                > .title {
                    font-size: 1.25rem;
                    font-weight: 400;
                }
            }
        }

        > main {
            width: 100%;
            flex: 1;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
        }
    }
}

.modals-status-pending {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modals-profile-share {
    > .container {
        width: 100%;
        // height: 100%;
        padding: 2.5em 1.25em;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        gap: 0.75em;
    }
}

.modals-auth-init-user-index {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    > .sign-out-button {
        position: absolute;
        top: 2.5em;
        right: 2.5em;
    }

    > .container {
        width: calc(100% - 2.5em);
        height: 100%;
        margin-top: 7.5em;

        > .title {
            color: $primary_color;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 36px;
            margin-bottom: 3em;
        }

        > .content {
            font-size: 1rem;
            font-weight: 400;
            line-height: 26px;

            > ol {
                > li {
                    list-style-position: inside;
                    list-style-type: decimal;
                }
            }

            > span.alert {
                font-size: 0.875rem;
                font-weight: 400;
                color: $auro_metal_saurus_color;
            }
        }
    }

    > .arrow-bottom-double-icon {
        position: absolute;
        bottom: 2.5em;
        left: calc(50% - 20px);
        animation-name: flicker-animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
    }
}

.modals-auth-init-user-agreement {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    > .sign-out-button {
        position: absolute;
        top: 2.5em;
        right: 2.5em;
    }

    > .container {
        width: calc(100% - 2.5em);
        height: 100%;
        margin-top: 7.5em;

        > .title {
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 30px;
            margin-bottom: 2.125em;
        }

        > .content {
            > .common-checkbox {
                &:not(:last-child) {
                    margin-bottom: 1em;
                }
            }

            > .divider {
                width: 100%;
                height: 1px;
                background-color: $link_water_color;
                margin-top: 1.25em;
                margin-bottom: 1.25em;
            }
        }
    }

    > .arrow-bottom-double-icon {
        position: absolute;
        bottom: 2.5em;
        left: calc(50% - 20px);
        animation-name: flicker-animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
    }
}

@keyframes flicker-animation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

.modals-auth-init-user-validate-phone-number {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    > .sign-out-button {
        position: absolute;
        top: 2.5em;
        right: 2.5em;
    }

    > .container {
        margin-top: 7.5em;
        width: calc(100% - 2.5em);
        height: 100%;

        > .title {
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 30px;
            margin-bottom: 2.125em;
        }

        > .content {
            display: flex;
            flex-direction: column;
            gap: 0.75em;

            > .phone-number,
            > .verification-code {
                display: flex;
                align-items: flex-end;
                gap: 0.625em;

                > .input-field {
                    flex: 1;

                    input {
                        width: 100%;
                    }
                }

                > button {
                    height: 48px;
                }
            }
        }
    }

    > .submit-button {
        position: absolute;
        bottom: 2.5em;
        width: calc(100% - 2.5em);
    }
}

.modals-profile-following,
.modals-profile-followers {
    padding: 2.5em 1.25em;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.5em;

    > .search {
    }

    > .people {
        flex: 1;

        > ul {
            display: flex;
            flex-direction: column;
            gap: 1em;

            > li {
                > .person {
                }
            }
        }
    }
}

.modals-profile-statistic {
    > .period {
        padding: 2.5em 1.25em;
        display: flex;
        flex-direction: column;
        gap: 2.5em;

        > .title {
            font-size: 1.5rem;
            font-weight: 500;
            color: $gunmetal_color;
            text-align: center;
        }

        > ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.25em;

            > li {
                > .container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0.75em;

                    > .count {
                        font-size: 1.5rem;
                        font-weight: 600;
                        color: $gunmetal_color;
                    }

                    > .label {
                        font-size: 0.875rem;
                        font-weight: 400;
                        color: $gunmetal_color;
                    }
                }
            }
        }
    }
}
