@import "../include.scss";

.pages-protected-notice {
    padding: 1.25em 0 5.5em 0;

    > nav.tabs {
        position: sticky;
        top: 0;
        margin-bottom: 1.25em;
        z-index: 1;
        padding: 1.25em 0;
        background-color: $app_background_color;

        > ul {
            position: relative;
            padding: 0 1.25em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.25em;

            > li {
                flex: 1;
                z-index: 3;

                > .container {
                    display: inline-flex;
                    width: 100%;
                    height: 3em;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 500;
                    transition: color 0.3s;
                }

                &.selected {
                    > .container {
                        color: white;
                    }
                }
            }

            li:nth-child(1).selected ~ .indicator {
                transform: translateX(calc(100% * 0 + 1.25em * 0));
            }

            li:nth-child(2).selected ~ .indicator {
                transform: translateX(calc(100% * 1 + 1.25em * 1));
            }

            > .indicator {
                position: absolute;
                height: 3em;
                border-radius: 1.5em;
                background-color: $primary_color;
                box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
                transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
            }
        }
    }
}

.pages-protected-notice-message {
    > .messages {
        display: flex;
        flex-direction: column;
        gap: 0.75em;
        padding: 0 1.25em;
    }
}
