@import "../include.scss";

.pages-protected-profile {
    display: flex;
    flex-direction: column;

    > .profile-wrap {
        position: relative;
        padding-top: clamp(0px, 8vh, 80px);
        padding-bottom: clamp(0px, 4vh, 40px);
        transition: background-color 1s;
        overflow: hidden;

        > header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            width: calc(100% - 40px);
            left: 20px;
            top: 20px;

            > .gear-icon {
                cursor: pointer;
                display: inline-flex;
                width: 28px;
                height: 28px;
                justify-content: center;
                align-items: center;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    mask-image: url("/assets/images/icons/gear.svg");
                    mask-repeat: no-repeat;
                    mask-position: center;
                    mask-size: contain;
                    background-color: $gunmetal_color;
                }
            }

            > .dots-vertical-icon {
                cursor: pointer;
                display: inline-flex;
                width: 28px;
                height: 28px;
                justify-content: center;
                align-items: center;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    mask-image: url("/assets/images/icons/dots_vertical.svg");
                    mask-repeat: no-repeat;
                    mask-position: center;
                    mask-size: cover;
                    background-color: $gunmetal_color;
                }
            }
        }

        > .profile {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: content-box;

            > .profile-container {
                display: inline-flex;
                width: 100%;
                flex-direction: column;
                align-items: center;

                > .profile-thumbnail {
                    position: relative;
                    left: 0;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    overflow: hidden;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                    background-size: cover;
                    background-position: center;
                    transition: top 1s, left 1s;
                }

                > .profile-info {
                    position: absolute;
                    bottom: 0;
                    display: inline-flex;
                    // width: 100%;
                    flex-direction: column;
                    align-items: center;
                    opacity: 1;
                    // transition: opacity 0.25s, transform 0.5s;

                    > span.name {
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 22px;
                        margin-bottom: 8px;
                    }

                    > span.position {
                        color: $auro_metal_saurus_color;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                        margin-bottom: 12px;
                    }

                    > .counts {
                        display: inline-flex;
                        align-items: center;
                        gap: 12px;

                        > div {
                            display: inline-flex;
                            align-items: center;
                            gap: 4px;

                            > .icon {
                                width: 14px;
                                height: 14px;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;

                                &::after {
                                    content: "";
                                    width: 100%;
                                    height: 100%;

                                    mask-repeat: no-repeat;
                                    mask-position: center;
                                    mask-size: cover;
                                    background-color: $gunmetal_color;
                                }
                            }

                            > .count {
                                font-size: 12px;
                                font-weight: bold;
                                color: $gunmetal_color;
                            }
                        }

                        > .thumb-up {
                            > .icon {
                                &::after {
                                    width: 90%;
                                    height: 90%;
                                    mask-image: url("/assets/images/icons/thumb_up.svg");
                                }
                            }
                        }

                        > .follow-to {
                            > .icon {
                                &::after {
                                    mask-image: url("/assets/images/icons/follow_to.svg");
                                }
                            }
                        }

                        > .follow-from {
                            > .icon {
                                &::after {
                                    mask-image: url("/assets/images/icons/follow_from.svg");
                                }
                            }
                        }
                    }
                }

                > .name-small {
                    position: absolute;
                    font-size: 18px;
                    font-weight: 600;
                    opacity: 0;
                    // transition: opacity 1s;
                }
            }
        }
    }
    > .info {
        flex: 1;
        background-color: white;

        > nav {
            padding: 24px 0;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            // transition: padding 1s;

            > ul {
                display: inline-flex;
                align-items: center;
                gap: 32px;
                position: relative;

                > li {
                    z-index: 2;

                    > button {
                        transition: color 0.3s;
                    }

                    &.selected {
                        > button {
                            color: white;

                            &:hover {
                                color: white;
                            }

                            &:active {
                                color: white;
                            }
                        }
                    }
                }

                li:nth-child(1).selected ~ .indicator {
                    transform: translateX(calc(100% * 0 + 32px * 0));
                }

                li:nth-child(2).selected ~ .indicator {
                    transform: translateX(calc(100% * 1 + 32px * 1));
                }

                li:nth-child(3).selected ~ .indicator {
                    transform: translateX(calc(100% * 2 + 32px * 2));
                }

                > .indicator {
                    position: absolute;
                    height: 32px;
                    background-color: $primary_color;
                    border-radius: 8px;
                    transition: transform 0.3s;
                }
            }
        }
    }
}
