@import "../include.scss";

.pages-protected-profile {
    display: flex;
    flex-direction: column;

    > .profile-wrap {
        position: relative;
        padding-top: clamp(0em, 8vh, 5em);
        padding-bottom: clamp(0em, 4vh, 2.5em);
        transition: background-color 1s;
        overflow: hidden;

        > header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            width: calc(100% - 2.5em);
            left: 1.25em;
            top: 1.25em;
            z-index: 10;

            > .gear-icon {
                cursor: pointer;
                display: inline-flex;
                width: 1.75em;
                height: 1.75em;
                justify-content: center;
                align-items: center;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    mask-image: url("/assets/images/icons/gear.svg");
                    mask-repeat: no-repeat;
                    mask-position: center;
                    mask-size: contain;
                    background-color: $gunmetal_color;
                }
            }

            > .dots-vertical-icon {
                cursor: pointer;
                display: inline-flex;
                width: 1.75em;
                height: 1.75em;
                justify-content: center;
                align-items: center;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    mask-image: url("/assets/images/icons/dots_vertical.svg");
                    mask-repeat: no-repeat;
                    mask-position: center;
                    mask-size: cover;
                    background-color: $gunmetal_color;
                }
            }
        }

        > .profile {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: content-box;

            > .profile-container {
                display: inline-flex;
                width: 100%;
                flex-direction: column;
                align-items: center;

                > .profile-thumbnail-outline {
                    position: relative;
                    width: 8.5em;
                    height: 8.5em;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    border: 2px solid $link_water_color;
                    transition: top 1s, left 1s;

                    > .profile-thumbnail {
                        left: 0;
                        width: calc(90%);
                        height: calc(90%);
                        border-radius: 50%;
                        overflow: hidden;

                        > img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: object-fit 0.2s;
                        }
                    }
                }

                > .profile-info {
                    position: absolute;
                    bottom: 0;
                    display: inline-flex;
                    // width: 100%;
                    flex-direction: column;
                    align-items: center;
                    opacity: 1;
                    // transition: opacity 0.25s, transform 0.5s;

                    > span.name {
                        font-size: 1.125rem;
                        font-weight: 600;
                        line-height: 1.375em;
                        margin-bottom: 0.5em;
                    }

                    > span.position {
                        color: $auro_metal_saurus_color;
                        font-size: 0.875rem;
                        font-weight: 400;
                        line-height: 1.0625em;
                        margin-bottom: 0.75em;
                    }

                    > .counts {
                        display: inline-flex;
                        align-items: center;
                        gap: 0.75em;

                        > div {
                            display: inline-flex;
                            align-items: center;
                            gap: 0.25em;

                            > .icon {
                                width: 0.875em;
                                height: 0.875em;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;

                                &::after {
                                    content: "";
                                    width: 100%;
                                    height: 100%;

                                    mask-repeat: no-repeat;
                                    mask-position: center;
                                    mask-size: cover;
                                    background-color: $gunmetal_color;
                                }
                            }

                            > .count {
                                font-size: 0.75rem;
                                font-weight: bold;
                                color: $gunmetal_color;
                            }
                        }

                        > .thumb-up {
                            > .icon {
                                &::after {
                                    width: 90%;
                                    height: 90%;
                                    mask-image: url("/assets/images/icons/thumb_up.svg");
                                }
                            }
                        }

                        > .follow-to {
                            > .icon {
                                &::after {
                                    mask-image: url("/assets/images/icons/follow_to.svg");
                                }
                            }
                        }

                        > .follow-from {
                            > .icon {
                                &::after {
                                    mask-image: url("/assets/images/icons/follow_from.svg");
                                }
                            }
                        }
                    }
                }

                > .name-small {
                    position: absolute;
                    font-size: 1.125rem;
                    font-weight: 600;
                    left: 9.25em;
                    opacity: 0;
                    // transition: opacity 1s;
                }
            }
        }
    }
    > .info {
        flex: 1;
        background-color: white;
        padding: 0 1.25em;
        display: flex;
        flex-direction: column;

        > nav {
            padding: 1.5em 0;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            // transition: padding 1s;

            > ul {
                display: inline-flex;
                align-items: center;
                gap: 2em;
                position: relative;

                > li {
                    z-index: 2;

                    > button {
                        transition: color 0.3s;
                    }

                    &.selected {
                        > button {
                            color: white !important;

                            @media (hover: hover) {
                                &:hover {
                                    color: white;
                                }
                            }

                            &:active {
                                color: white;
                            }
                        }
                    }
                }

                li:nth-child(1).selected ~ .indicator {
                    // transform: translateX(calc(100% * 0 + 2em * 0));
                }

                li:nth-child(2).selected ~ .indicator {
                    // transform: translateX(calc(100% * 1 + 2em * 1));
                }

                li:nth-child(3).selected ~ .indicator {
                    // transform: translateX(calc(100% * 2 + 2em * 2));
                }

                > .indicator {
                    position: absolute;
                    left: 0;
                    height: 2em;
                    background-color: $primary_color;
                    border-radius: 0.5em;
                }
            }
        }
    }
}

.pages-protected-profile-setup {
    padding: 2.5em 0;

    > .rows {
        &:not(:last-child) {
            margin-bottom: 2.5em;
        }

        > .title {
            font-size: 1rem;
            color: $auro_metal_saurus_color;
            margin-left: 1.25em;
            margin-bottom: 1em;
        }
    }
}

.pages-protected-profile-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5em 1.25em;
    width: 100%;
    height: 100%;
    background-color: white;

    > .profile-thumbnail {
        cursor: pointer;
        width: 7.5em;
        height: 7.5em;
        border-radius: 50%;
        box-shadow: $profile_thumbnail_box_shadow;
        margin-bottom: 2.5em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    > .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.75em;
        margin-bottom: 3.75em;
    }
}

.pages-protected-profile-history {
}

.pages-protected-profile-information {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4.5em;

    > .top {
        > .boxes {
            margin-bottom: 2.5em;

            > ul {
                display: grid;
                grid-template-columns: repeat(auto-fill, calc(50% - 0.5em));
                grid-gap: 1em;
                justify-content: space-between;

                > li {
                    > .container {
                        background-color: rgba($link_water_color, 0.4);
                        padding: 0.5em 0 0.75em 0;
                        border-radius: 8px;
                        display: inline-flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        gap: 0;

                        > .count {
                            font-size: 2rem;
                            font-weight: 700;
                        }

                        > .label {
                            font-size: 0.875rem;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        > .location {
            > .title {
                font-size: 0.875rem;
                font-weight: 600;
                color: $gunmetal_color;
                margin-bottom: 0.5em;
            }

            > .position {
                display: flex;
                align-items: center;

                > svg {
                    margin-right: 0.25em;
                }

                > .country {
                    font-size: 0.875rem;
                    color: $gunmetal_color;
                    font-weight: 400;
                }
            }
        }
    }

    > .bottom {
        > .created-at {
            // position: absolute;
            // bottom: calc(2em + 3.25em);
            font-size: 0.8125rem;
            color: rgba($auro_metal_saurus_color, 0.8);
            // width: 100%;
            text-align: center;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
}
